<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Boards</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <h1>Boards</h1>
    <table border="2">
        <tr>
          <th>Board</th>
          <th>Description</th>
          <th>Topics</th>
          <th>Posts</th>
        </tr>
        {% for board in boards %}
        <tr>
          <td>{{board.name}}</td>
          <td>{{board.desc}}</td>
          <td>0</td>
          <td>0</td>
        </tr>
        {% endfor %}
      </table>
</body>
</html>