{% extends 'base.html' %}

{% block page_title %} {{ board }} {% endblock %}

{% block breadcrumb_head %}
<li class="breadcrumb-item "><a style="text-decoration: none" href="{% url 'boards_home_page' %}" >Boards</a></li>
  <li class="breadcrumb-item active">{{board}}</li>
{% endblock %}

{% block content %}
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Topics</th>

    </tr>
  </thead>
    {% for topic in topics %}
    <tr>
      <td>{{topic.title}}</td>
    </tr>
    {% endfor %}
  </table>  
{% endblock %}